doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/shCoreDefault.css')
  body
    block content
    br
    br
    |A Tool from the fkei. Source is on  
    a(href="https://github.com/fkei/mjson-server") GitHub.
